
//- # oishooting - show

extends ../layout

block content
  .container
    .row
      .col-md-4.col-md-offset-4
        h1 Oishooting - #{oishooting.name}
      
        a(href='/oishootings/' + oishooting.id + '/edit') Edit Oishooting
